<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/49179f625b.js" crossorigin="anonymous"></script>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Big Big Shop</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
        <main class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                {% include "/admin/nav.html.twig" %}
                 
                </nav>
                <section class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    {% block body %}
                    
                    {% endblock %}
                </section>
                 
            </div>
        </main>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}

    </body>
</html>
