{% extends '/admin/base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

<div class="container">
    {# <h1 class="text-center m-4">{{ title }}</h1> #}
    <h1 class="text-center m-4"> title </h1>
    <pre>
        {{ dump(app.user.password) }}
    </pre>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Purchase Status</th>
            <th scope="col">Last Date Of Purchase</th>
            <th scope="col">Total Purchases Amount</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            {% for customer in customers %}
                <tr>

                    {% if (app.request.query.get('page') == 1) or (app.request.query.get('page') == null) %}
                        <th scope="row">{{ loop.index }}</th>
                    {% else %}
                        <th scope="row">{{ loop.index  + ((app.request.query.get('page')-1) * 15)}}</th>
                    {% endif %}
                    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                    <td class="table-{{ customer.sales[0].statut.statut }}" >
                        {{ customer.sales[0].statut.statut }}</td>
                    <td>{{ customer.sales[0].dateOfPurchase | date("m/d/Y") }}</td>
                    <td>{{ customer.totalSales }} €</td>
                    <td class="action" scope="col"><a href="{{path('admin_customers_details',{id:customer.id})}}" class="btn btn-info"><i class="fas fa-info-circle"></i>  Details</button></td>
                    <td scope="col"><a href="" class="btn btn-danger"><i class="far fa-trash-alt"></i>  Delete Customer</button></td>
                </tr>
            {% endfor %}

        </tbody>
</table>
    {{ knp_pagination_render(customers) }}
</div>
{% endblock %}
