{% extends '/admin/base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <h1 class="text-center m-4">{{ title }}</h1>
        
        <h2>Client Name<h2>
        <pre>
            {{ dump(customer) }}
        </pre>
    
    </div>

{% endblock %}