{% extends '/admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block body %}

    <h1>Hello {{ title }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/castagnou/project-symfony/symfo-project/shop-backend/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/castagnou/project-symfony/symfo-project/shop-backend/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
