{% extends "/admin/base.html.twig" %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1 class="text-center m-4">{{ title }}</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Sale Reference</th>
            <th scope="col">Sale Status</th>
            <th scope="col">Customer</th>
            <th scope="col">Total Price</th>
            <th scope="col">Number of Items</th>
            <th scope="col">Median Price per Item</th>
            <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>12345</td>
                <td class="table-success">Delivered</td>
                <td>Mark Machin</td>
                <td>500$</td>
                <td>50</td>
                <td>10$</td>
                <td class="action" scope="col"><button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i>  Details</button></td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>12345</td>
                <td class="table-success">Delivered</td>
                <td>Mark Machin</td>
                <td>500$</td>
                <td>50</td>
                <td>10$</td>
                <td class="action" scope="col"><button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i>  Details</button></td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>12345</td>
                <td class="table-success">Delivered</td>
                <td>Mark Machin</td>
                <td>500$</td>
                <td>50</td>
                <td>10$</td>
                <td class="action" scope="col"><button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i>  Details</button></td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>12345</td>
                <td class="table-success">Delivered</td>
                <td>Mark Machin</td>
                <td>500$</td>
                <td>50</td>
                <td>10$</td>
                <td class="action" scope="col"><button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i>  Details</button></td>
            </tr>

        </tbody>
</table>

</div>
{% endblock %}